Task2Noise_Speech/Goznak_ML_Tasks/
Task2Noise_Speech/notebooks/.ipynb_checkpoints
Task2Noise_Speech/notebooks/custom_model.pth
Task2Noise_Speech/goznak.zip
Task2Noise_Speech/__pycache__
custom_model.pth